<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="CSS/universal.css">
  <link rel="stylesheet" href="CSS/index.css">
  <script src="https://kit.fontawesome.com/5c7edfd842.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Frontend Mentor | [Challenge Name Here]</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  <div class="app">
    <div class="mobile-container">
      <div class="mobile-container--inner-container">
        <div class="mobile-header">
          <div class="mobile-header--elements-container">
            <i class="fas fa-chevron-left arrow"></i>

            <div class="mobile-header--element-profile">
              <img src="images/avatar.jpg" alt="" class="mobile-header--user-photo">

              <div class="element-profile-container">
                <h2 class="element-profile-user-name">
                  Samuel Green
                </h2>
                <span class="element-profile-user-actual-status">Avaliable to Walk</span>
              </div>
            </div>

            <i class="fas fa-ellipsis-v options-button"></i>
          </div>
        </div>

        <div class="mobile-body-container">
          <div class="mobile-message-container">

            <div class="mobile-msg-container" v-for="message in messages"
              :class="{'other-user' : message.mine == false, 'my-user' : message.mine == true, 'img-container' : message.photos != undefined,
              promo : message.promo == true }">
              <p v-if="message.text != 'undefined' && message.promo == false" class="mobile-msg-text">
                {{message.text}}
              </p>
              <img v-if="message.photos != 'undefined'" v-for="photo in message.photos" :src="photo"
                class="image-element" alt="photo">

              <input v-if="message.promo == true" type="checkbox" class="mobile-input-radio">
              <p v-if="message.promo == true" class="mobile-msg-text">
                {{message.text}}
              </p>
              <h2 v-if="message.promo == true" class="mobile-h2-price">${{message.price}}</h2>

            </div>

          </div>

          <div class="mobile-input-container">
            <input type="text" v-model="message" class="mobile-input" @change.enter.trim ="addNewNormalMessage" placeholder="Type a message…">

            <button class="mobile-send-button">
              <i class="fas fa-chevron-right arrow"></i>
            </button>
          </div>
        </div>



      </div>
    </div>

    <div class="content-container">
      <h1 class="content-container--title">
        Simple booking
      </h1>

      <p class="content-container--text">
        Stay in touch with our dog walkers through the chat interface. This makes it easy to
        discuss arrangements and make bookings. Once the walk has been completed you can rate
        your walker and book again all through the chat.
      </p>
    </div>
  </div>
  <script src="./JS/index.js"></script>
</body>

</html>